<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="img login">
        <h3>Register User</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Enter user">
            <label>User</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Enter password">
            <label>Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Enter password again">
            <label>Repeat Password</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="addUser()" class="btn btn-primary btn-lg">Register</button>
        </div>
        <a routerLink="/login">Back</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>