<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="img login">
        <h3>Change Password</h3>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="newPassword" autocomplete="false" class="form-control"
                placeholder="Enter password">
            <label>New Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" autocomplete="false" class="form-control"
                placeholder="Confirm password">
            <label>Confirm Password</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="changePassword()" class="btn btn-primary btn-lg">Change Password</button>
        </div>
        <a routerLink="/login">Back</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>