<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="img login">
        <h3>Forgot Password</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Enter user">
            <label>User</label>
        </div>
        <label *ngIf="newPassword">New password: {{ newPassword }}</label>
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="recoverPassword()" class="btn btn-primary btn-lg">Forgot Password</button>
        </div>
        <a routerLink="/login">Back</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>