<form [formGroup]="productForm" class="w-full" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-5">
    <label for="handle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Handle</label>
    <input type="text" id="handle" class="form-control" placeholder="Handle" formControlName="handle">
    <div *ngIf="productForm.get('handle')?.hasError('required') && productForm.get('handle')?.touched"
      class="form-error">
      Handle is required
    </div>
  </div>
  <div class="mb-5">
    <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
    <input type="text" id="title" class="form-control" placeholder="Title" formControlName="title">
    <div *ngIf="productForm.get('title')?.hasError('required') && productForm.get('title')?.touched" class="form-error">
      Title is required
    </div>
  </div>
  <div class="mb-5">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
    <input type="text" id="description" class="form-control" placeholder="Description" formControlName="description">
    <div *ngIf="productForm.get('description')?.hasError('required') && productForm.get('description')?.touched"
      class="form-error">
      Description is required
    </div>
  </div>
  <div class="mb-5">
    <label for="sku" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">SKU</label>
    <input type="text" id="sku" class="form-control" placeholder="SKU" formControlName="sku">
    <div *ngIf="productForm.get('sku')?.hasError('required') && productForm.get('sku')?.touched" class="form-error">
      SKU is required
    </div>
  </div>
  <div class="mb-5">
    <label for="grams" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Grams</label>
    <input type="text" id="grams" class="form-control" placeholder="Grams" formControlName="grams">
    <div *ngIf="productForm.get('grams')?.hasError('required') && productForm.get('grams')?.touched" class="form-error">
      Grams is required
    </div>
  </div>
  <div class="mb-5">
    <label for="stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock</label>
    <input type="text" id="stock" class="form-control" placeholder="Stock" formControlName="stock">
    <div *ngIf="productForm.get('stock')?.hasError('required') && productForm.get('stock')?.touched" class="form-error">
      Stock is required</div>
  </div>
  <div class="mb-5">
    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
    <input type="text" id="price" class="form-control" placeholder="Price" formControlName="price">

    <div *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched" class="form-error">
      Price is required</div>
  </div>
  <div class="mb-5">
    <label for="compare_price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Compare
      Price</label>
    <input type="text" id="compare_price" class="form-control" placeholder="Compare Price"
      formControlName="compare_price">
    <div *ngIf="productForm.get('compare_price')?.hasError('required') && productForm.get('compare_price')?.touched"
      class="form-error">
      Compare Price is required
    </div>
  </div>
  <div class="mb-5">
    <label for="barcode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Barcode</label>
    <input type="text" id="barcode" class="form-control" placeholder="Barcode" formControlName="barcode">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>